<template>
    <div class="row margin-t-15">
        <div class="col-md-12">
            <datetime type="datetime" v-model="datetime"></datetime>
        </div>
    </div>

</template>

<script>
    import DateTime from "luxon";
    export default {
        name: "CreateIndividualFixtures",
        props: ['users'],
        data: function () {
            return {
                messages: [
                    {
                        usersSelected: []
                    },
                ],
                datetime: DateTime
            }
        },
        methods: {
            addNewMessage() {
                this.messages.push({
                    usersSelected: [],
                });
            },
            // submitForm: function(e) {
            //     console.log(this.messages);
            //     console.log(this.datetime);
            //     console.log(this.clansSelected);
            //     // this.$http.post('api/outbox', {messages:this.messages})
            //     //     .then(function(response){
            //     //         //handle success
            //     //         console.log(response);
            //     //     }).error(function(response){
            //     //     //handle error
            //     //     console.log(response)
            //     // });
            //     this.messages = [{ DestinationNumber: '', TextDecoded: '' }];
            //     this.submitted = true;
            // },
            submit : function(){
                this.$refs.form.submit()
            }
        },
    }
</script>

<style>
    .vdatetime-input {
        display: block;
        width: 100%;
        height: 31px;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 1.42857;
        color: #555555;
        background-color: white;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
</style>