<template>
    <div>
        <div class="ticker box">
            <article class="media">
                <div class="media-content">
                    <transition name="fade" tag="div" mode="out-in">
                        <div v-for="(fixture, index) in fixtures" class="news" href="#" v-if="news[index]" :key="index">
                            <div class="col-md-12">
                                <div class="text-center bold-content font-size-15">{{ fixture.tournament }}</div>
                            </div>
                            <div class="col-md-12 wrap-fixture-results">
                                <div class="col-xs-5 text-center">{{ fixture.clan_1 }}</div>
                                <div class="col-xs-2 text-center"></div>
                                <div class="col-xs-5 text-center">{{ fixture.clan_2 }}</div>
                            </div>
                            <div class="col-md-12 wrap-fixture-results">
                                <div class="col-xs-5 text-center">{{ fixture.date }}</div>
                                <div class="col-xs-2 text-center">VS</div>
                                <div class="col-xs-5 text-center">{{ fixture.time }}</div>
                            </div>
                            <div class="col-md-12 text-center score-winner">
                                <div v-if="fixture.clan_1_score > fixture.clan_2_score">
                                    <p>{{ fixture.clan_1 }} defeated {{ fixture.clan_2 }}</p>
                                    <p>{{ fixture.clan_1_score }} - {{ fixture.clan_2_score }}</p>
                                </div>
                                <div v-if="fixture.clan_2_score > fixture.clan_1_score">
                                    <p>{{ fixture.clan_2 }} defeated {{ fixture.clan_1 }}</p>
                                    <p>{{ fixture.clan_2_score }} - {{ fixture.clan_1_score }}</p>
                                </div>
                                <p v-if="fixture.clan_1_score === fixture.clan_2_score">{{ fixture.clan_1 }} draw with {{ fixture.clan_2 }}</p>
                                <br />
                            </div>
                        </div>
                    </transition>
                </div>
            </article>
        </div>
    </div>
</template>

<script>
    export default {
        props : ['fixtures','count'],
        data() {
            return {
                tickerLocation: 0,
                news: [
                    true,
                    false,
                    false,
                ]
            }
        },
        created: function() {
            setInterval(this.updateTicker, 5000);
        },
        methods: {
            updateTicker: function() {
                var removed = this.news.pop();
                this.news.unshift(removed);
            }
        }
    }
</script>

<style>
    a {
        font-size: 15px;
    }
    .breaking-news {
        background-color: #33A3F1;
        color: #ffffff;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
    }

    .media-content {
        padding: 5px;
    }

    .date {
        color: #33A3F1;
        font-size: 15px;
    }

    .news {
        color: #666666;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity 1s
    }
    .fade-enter, .fade-leave-to {
        opacity: 0
    }
</style>