<template>
    <div class="col-md-12">
        <table style="white-space: nowrap;display: block;overflow-x: auto;" class="table table-bordered dark-table scrollable-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Rules</th>
                <th>Status</th>
                <th>Fixtures</th>
                <th>Clans</th>
                <th>Streams</th>
                <th>Edit Tournament</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="tournament in tournaments">
                <td style="font-size:15px;"><a :href="'/view-tournament/' + tournament.id + '/' + tournament.title">{{ tournament.title }}</a></td>
                <td><a :href="'/admin/edit-rules/' + tournament.rules_id">Edit</a></td>
                <td>{{ tournament.tournament_status }}</td>
                <td>
                    <select v-if="tournament.tournament_type_id === 2" @change="onChange($event)" class="fixturesSelect">
                        <option value="">Select</option>
                        <option :value="'/admin/create-auto-fixtures?tournament=' + tournament.id">
                            Auto Fixtures Generate
                        </option>
                        <option :value="'/admin/list-fixture-results-clan/' + tournament.id">
                            View Fixtures
                        </option>
                        <option :value="'/admin/list-fixtures/' + tournament.id">
                            List Fixtures
                        </option>
                    </select>
                    <select v-if="tournament.tournament_type_id === 3" @change="onChange($event)" class="fixturesSelect" id="fixtures" name="fixtures">
                        <option value="">Select</option>
                        <option :value="'/admin/list-fixture-results/' + tournament.id">
                            View Fixtures
                        </option>
                        <option :value="'/admin/list-fixtures/' + tournament.id">
                            List Fixtures
                        </option>
                    </select>
                </td>
                <td>
                    <select @change="onChange($event)" class="clansSelect" id="clans" name="fixtures">
                        <option value="">Select</option>
                        <option :value="'/admin/registered-clans/' + tournament.id">Registered Clans</option>
                        <option :value="'/admin/edit-auto-clan-standings/' + tournament.id">Clan Standings</option>
                        <option :value="'/admin/edit-auto-user-standings/' + tournament.id">Player Standings</option>
                    </select>
                </td>
                <td><a :href="'/admin/edit-tournament-streams/' + tournament.id">Edit</a></td>
                <td><a :href="'/admin/edit-tournament/' + tournament.id">Edit</a></td>
                <td><a :href="'/admin/delete-tournament/' + tournament.id" onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "ManageTournaments",
        props: ['tournaments'],
        methods: {
            onChange(event) {
                document.location.href = event.target.value;
            }
        },
    }
</script>

<style></style>