<template>
    <div class="col-md-12">
        <table class="table table-bordered dark-table scrollable-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Xbox Gamer Tag</th>
                <th>PSN ID</th>
                <th>Steam ID</th>
                <th>Uplay ID</th>
                <th>Moderate</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users">
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.gamer_tag }}</td>
                <td>{{ user.psn_id }}</td>
                <td>{{ user.steam_id }}</td>
                <td>{{ user.uplay_id }}</td>
                <td>
                    <button v-on:submit.prevent="onSubmit" v-on:click="moderate(user.id)" class="btn btn-primary">Approve</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "ModerateUsers",
        props: ['users'],
        methods: {
            moderate(e){
                let data = {
                    'user': e
                };
                axios.post('/update-user-gt-approval',data)
                .then(function (response) {
                    if(response.status === 200){
                        alert('User tag change approved!');
                        location.reload();
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        },
        data: function () {
            return {
                user:null
            }
        },
    }
</script>

<style></style>