<template>
    <div class="col-md-12">
        <table class="table table-bordered dark-table scrollable-table">
            <thead>
            <tr>
                <th>Clan Name</th>
                <th>Clan Profile</th>
                <th>Moderate</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(clanName, clanId) in clans">
                <td>{{ clanName }}</td>
                <td><a  style="color:blue;" v-bind:href="'/clan-profile/'+ clanId + '/' + clanName">Clan Profile</a></td>
                <td>
                    <select v-model="clan" @change="moderate" name="selectedClan" class="updateMe">
                        <option value="">Select</option>
                        <option :value="1" :data-clan="clanId">Approved</option>
                        <option :value="0" :data-clan="clanId">Not Approved</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "TournamentsList",
        props: ['clans'],
        methods: {
            methodThatForcesUpdate() {
                this.$forceUpdate();
            },
            methodToRunOnSelect(payload) {
                this.object = payload;
            },
            moderate(e){
                let clanId = "clanId";
                let selected = "selected";
                const data = {};
                if(e.target.options.selectedIndex > -1) {
                    data[selected] = e.target.options[e.target.options.selectedIndex].value;
                    data[clanId] = e.target.options[e.target.options.selectedIndex].dataset.clan;
                }
                axios.post('/update-clan',data)
                .then(function (response) {
                    if(response.status === 200){
                        alert('Clan status updated!');
                        location.reload();
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        },
        data: function () {
            return {
                clan:null,
                gamesList: this.games
            }
        },
    }
</script>

<style></style>