<template>
<!-- Admin User-->
    <Slide disableOutsideClick>
        <div v-if="user && user.user_level_id === 1" class="userMenu margin-t-10">
            <nav class="bm-item-list">
                <img v-if="user.gamer_pic !== null" class="gamer_pic_nav" v-bind:src="user.gamer_pic"  alt="gamer pic"/>
                <img v-else="user.gamer_pic !== null" class="gamer_pic_nav" v-bind:src="'/images/default-no-image-eax.jpeg'"  alt="gamer pic"/>
                <a href="/">
                    <span>Home</span>
                </a>
                <a href="/dashboard">
                    <span>Dashboard</span>
                </a>
                <select class="select-menu" @change="getSelectedValue($event)" v-model="selected">
                    <option disabled value="">Users</option>
                    <option :value="'manage-users'">Manage Users</option>
                    <option :value="'view-users'">View Users</option>
                    <option :value="'admin/resend-registration-email'">Resend User Emails</option>
                    <option :value="'update-user-gt-approval'">Moderate GT Changes</option>
                </select>
                <select class="select-menu" @change="getSelectedValue($event)" v-model="selected">
                    <option disabled value="">News</option>
                    <option :value="'admin/create-news'">Create</option>
                    <option :value="'admin/list-news'">List</option>
                </select>
                <select class="select-menu" @change="getSelectedValue($event)" v-model="selected">
                    <option disabled value="">Games</option>
                    <option :value="'admin/create-games'">Create</option>
                    <option :value="'admin/list-games'">List</option>
                </select>
                <select class="select-menu" @change="getSelectedValue($event)" v-model="selected">
                    <option disabled value="">Tournaments</option>
                    <option :value="'admin/create-tournament'">Create</option>
                    <option :value="'admin/manage-tournaments'">Manage</option>
                    <option :value="'view-tournaments'">View</option>
                    <option :value="'admin/list-tournaments'">List</option>
                    <option :value="'admin/create-tournament-rules'">Create Rules</option>
                    <option :value="'admin/create-fixed-standings'">Create Fixed Standings</option>
                    <option :value="'admin/export-tournament-data'">Export Data</option>
                    <option :value="'admin/create-fixture'">Create Fixtures</option>
                    <option :value="'admin/create-tournament-streams'">Create Streams</option>
                    <option :value="'admin/create-individual-fixture'">Create Individual Fixtures</option>
                    <option :value="'admin/importer'">Import Stats</option>
                    <option :value="'admin/importer-clan-fixtures'">Import Clan Fixtures</option>
                    <option :value="'admin/importer-individuals'">Import Individual Fixtures</option>
                    <option :value="'admin/auto-fixtures-remove'">Bulk Fixture Removal</option>
                </select>
                <select class="select-menu" @change="getSelectedValue($event)" v-model="selected">
                    <option disabled value="">Events</option>
                    <option :value="'admin/create-event'">Create</option>
                    <option :value="'admin/export-event-data'">Export Event Data</option>
                </select>
                <select class="select-menu" @change="getSelectedValue($event)" v-model="selected">
                    <option disabled value="">Clans</option>
                    <option :value="'register-clan/'">Create</option>
                    <option :value="'moderate-clans'">Moderate Clans</option>
                    <option :value="'view-clans'">List Clans</option>
                </select>
                <hr style="color:#fff;" />
                <a v-on:click="methodThatForcesUpdate"
                   onclick="event.preventDefault();document.getElementById('logout-form').submit();" href="/">
                    <span>Logout</span>
                </a>
            </nav>
        </div>
<!-- Normal User-->
        <div v-else-if="user && user.user_level_id === 3" class="userMenu">
            <nav class="bm-item-list">
                <img v-if="user.gamer_pic !== null" class="gamer_pic_nav" v-bind:src="user.gamer_pic"  alt="gamer pic"/>
                <img v-else="user.gamer_pic !== null" class="gamer_pic_nav" v-bind:src="'/images/default-no-image-eax.jpeg'"  alt="gamer pic"/>
                <a v-bind:href="'/user-profile/'+ user.id + '/' + user.name">
                    <span>{{ user.name }}</span>
                </a>
                <a v-bind:href="'/individual-fixtures/'+ user.id">
                    <span>My Fixtures</span>
                </a>
                <a v-bind:href="'/edit-user/'+ user.id">
                    <span>Edit Profile</span>
                </a>
                <hr style="color:#fff;" />
                <a href="/">
                    <span>Home</span>
                </a>
                <a href="/dashboard">
                    <span>Dashboard</span>
                </a>

                <a href="/view-users">
                    <span>Users</span>
                </a>

                <a href="/view-tournaments">
                    <span>Tournaments</span>
                </a>

                <a href="/list-events">
                    <span>Events</span>
                </a>
                <a href="/player-stats">
                    <span>Player Stats</span>
                </a>
                <a href="/overall-clan-standings">
                    <span>Clan Standings</span>
                </a>
                <select v-if="user.clan_id !== 0 && clan_owner == true" style="margin-left: 6px;" class="select-menu" @change="getSelectedValue($event)" v-model="selected">
                    <option disabled value="">Clans</option>
                    <option :value="'manage-clan-members/' + user.clan_id">Manage Clan Members</option>
                    <option :value="'edit-clan/' + user.clan_id">Edit Clan</option>
                    <option :value="'clan-profile/' + user.clan_id + '/clan'">View Clan</option>
                    <option :value="'view-clans/'">List Clan</option>
                    <option :value="'clan-fixtures-by-tournament/' + user.clan_id">Clan Fixtures</option>
                </select>
                <select v-else style="margin-left: 6px;" class="select-menu" @change="getSelectedValue($event)" v-model="selected">
                    <option disabled value="">Clans</option>
                    <option v-if="user.clan_id !== 0" :value="'clan-profile/' + user.clan_id + '/clan'">View Clan</option>
                    <option :value="'register-clan/'">Register Clan</option>
                    <option :value="'view-clans/'">List Clan</option>
                </select>
                <a href="/contact">
                    <span>Contact Us</span>
                </a>
                <a v-on:click="methodThatForcesUpdate"
                   onclick="event.preventDefault();document.getElementById('logout-form').submit();" href="/">
                    <span>Logout</span>
                </a>
            </nav>
        </div>
<!-- Guest User-->
        <div v-else class="guestMenu">
            <nav class="bm-item-list">
                <a href="/">
                    <img style="margin-left: 10px;width: 200px !important;" width="50px" class="gamer_pic_nav" v-bind:src="'/images/logos/blue-white.png'"  alt="gamer pic"/>
                </a>
                <a href="/">
                <span>Home</span>
                </a>
                <a href="/view-tournaments">
                    <span>Tournaments</span>
                </a>
                <a href="/view-clans">
                    <span>Clans</span></a>
                <a href="/list-events">
                    <span>Events</span>
                </a>
                <a href="/player-stats">
                    <span>Player Stats</span>
                </a>
                <a href="/overall-clan-standings">
                    <span>Clan Standings</span>
                </a>
                <a href="/contact">
                    <span>Contact Us</span>
                </a>
                <hr style="color:#fff;" />
                <a href="/login">
                    <span>Login</span>
                </a>
                <a href="/register">
                    <span>Register</span>
                </a>
            </nav>
        </div>
    </Slide>
</template>

<script>
    import {Slide} from 'vue-burger-menu'
    export default {
        name: "AccessRequest",
        props: ['clientid','user','clan_owner'],
        components: {
            Slide,
        },
        data() {
            return {
                selected: ''
            }
        },
        methods: {
            dropdown(){
                document.getElementsByClassName("myDropdown").classList.toggle("show");
                event.preventDefault()
            },
            methodThatForcesUpdate() {
                this.$forceUpdate();
            },
            methodToRunOnSelect(payload) {
                this.object = payload;
            },
            getSelectedValue(event){
                let selectedURL = event.target.value;
                window.history.pushState({}, document.title, "/" + selectedURL);
                location.reload();
            },
        }
    }

</script>

<style>
    .bm-burger-button {
        cursor: pointer;
        height: 30px;
        left: 5px;
        position: absolute;
        top: 5px;
        width: 36px;
        padding: 10px;
        background-color: #000;
    }

    .bm-burger-bars {
        background-color: #ffffff;
    }

    .bm-item-list {
        color: #b8b7ad;
        font-size: 20px;
        margin-left: 0%;
    }

    .bm-menu {
        background-color: #2E2E2E;
        height: 100%;
        left: 0;
        overflow-x: hidden;
        padding-top: 0px;
        position: fixed;
        top: 0;
        transition: .5s;
        width: 0;
        z-index: 1000;
    }

    .bm-item-list a, .btn-link {
        color: #fff;
        font-size: 0.9em;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd}

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}

    .select-stats button, select {
        height: 50px;
        color: #fff;
        font-weight: bold;
        width: 100%;
        font-size: 17px;
    }

    .select-menu {
        border: 1px transparent;
        padding-left: 19px;
        background-color: #2E2E2E;
    }
    .select-menu:focus {
        border: 1px transparent;
    }

</style>
