<template>
    <div>
    <bracket :rounds="brackets">
        <template slot="player" slot-scope="{player}">
            {{ player.name }}
        </template>
    </bracket>
    </div>
</template>

<script>
    import Bracket from "vue-tournament-bracket";
    export default {
        props:['brackets'],
        components: {
            Bracket
        },
        data() {
            console.log(this.brackets);
            return {

            }
        }
    }
</script>