<template>
        <div>
            <div class="col-md-6">
            <select v-model="game">
                <option value="">Select game</option>
                <option v-for="(name, id) in games" :value="id">{{ name }}</option>
            </select>
            </div>
            <div class="col-md-5">
            <select v-model="platform">
                <option value="">Select platform</option>
                <option v-for="(platform, platformId) in platforms" :value="platformId">{{ platform }}</option>
            </select>
            </div>
            <div class="col-md-1">
                <div class="btn btn-primary setUrl pull-right" @click.prevent="getFormValues()">Filter</div>
            </div>
        </div>
</template>

<script>
    export default {
        name: "TournamentsList",
        props: ['games','platforms'],
        methods: {
            methodThatForcesUpdate() {
                this.$forceUpdate();
            },
            getFormValues(){
                let selectedPlatform = this.platform;
                let selectedGame = this.game;
                const data = { selectedGame,selectedPlatform };
                document.location.href = document.URL + "?game=" + selectedGame + "&platform=" + selectedPlatform;
            }
        },
        data: function () {
            return {
                game:"",
                platform:"",
                selectedPlatform:null,
                selectedGame:null,
                gamesList: this.games
            }
        },
    }
</script>

<style></style>