<template>
    <div class="row">
    <table class="table table-bordered dark-table scrollable-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Gamer Tag</th>
            <th>User Profile</th>
            <th>Moderate</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in users">
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.gamer_tag }}</td>
            <td><a :href="'/user-profile/' + user.id + '/' + user.name">View</a></td>
            <td>
                <select @change="onChange($event)" :data-userId="user.id" class="fixturesSelect">
                    <option value="">Select</option>
                    <option value="1">
                        Approve
                    </option>
                    <option value="0">
                       Not Approved
                    </option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <sweet-modal ref="successModal" icon="success">
        <p id="displayMessage"></p>
    </sweet-modal>
    </div>
</template>

<script>
    import { SweetModal, SweetModalTab } from 'sweet-modal-vue';
    export default {
        name: "ManageTournaments",
        props: ['users'],
        components: {
            SweetModal,
            SweetModalTab
        },
        methods: {
            onChange(event) {
                let data = {
                    userId : event.target.getAttribute('data-userId'),
                    selected: event.target.value
                };
                this.$refs.successModal.open();
                let displayMessage = document.getElementById("displayMessage");
                axios.post('/update-user-clan-status',data)
                    .then(function (response) {
                        if(response.status === 200){
                            displayMessage.innerText = response.data.message;
                            if(data.selected === '1') {
                                this.$refs.successModal.open();
                            } else {
                                this.$refs.successModal.open();
                            }
                        }
                    })
                    .catch(function (response) {
                        displayMessage.innerText = response.data.message;
                        this.$refs.successModal.open();
                    });
                setTimeout(location.reload.bind(location), 1800);
            },
            data(){
                return {
                    userId: null
                }
            }
        },
    }
</script>