/*.col-md-12 .col-md-11 .col-md-10 .col-md-9 .col-md-8 .col-md-7 .col-md-6 .col-md-5 .col-md-4 .col-md-3 .col-md-2 .col-md-1 {*/
    /*-webkit-transition: background-color 500ms ease-out 1s;*/
    /*-moz-transition: background-color 500ms ease-out 1s;*/
    /*-o-transition: background-color 500ms ease-out 1s;*/
    /*transition: background-color 500ms ease-out 1s;*/
/*}*/
body {
    font-family: 'Titillium Web';
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    margin-top: -5px;
    overflow-x: hidden;
}
@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
}
.table tbody tr td {
    border-color: #ececec;
    padding: 19px 28px;
    font-size: 1.1em;
    font-weight: bold !important;
}
.site-logo.retina img {
    width: 100%;
}
.site-navigation > ul a {
    color: #000000;
    display: block;
    font-family: 'Titillium Web' ,sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 3px 0;
    padding: 5px 0;
}

.site-navigation > ul a:hover {
    color: #0062c6;
}

.margin-t-5 {
    margin-top:5px;
}

.margin-t-10 {
    margin-top:10px;
}

.margin-t-15 {
    margin-top:15px;
}

.margin-t-30 {
    margin-top:30px;
}
.margin-t-40 {
    margin-top:40px;
}
.margin-t-50 {
    margin-top:50px;
}
.margin-t-60 {
    margin-top:60px;
}
.margin-b-10 {
    margin-bottom: 10px;
}
.margin-b-15 {
    margin-bottom: 15px;
}
.margin-bottom-15-p {
    margin-bottom:15%;
}
.icon .fa, .posts div a, .btn, .progress-bar, .nav-tabs > li.active:after, .menu li.current-menu-ancestor a, .pricing-table header, .table thead th, .mark, .post .post-meta button, blockquote.style-2:after, .panel-title a:before, .carousel-indicators li, .carousel-indicators .active, .ls-altus .ls-bottom-slidebuttons a, .site-search, .tagcloud a:hover, .post-hover:after, .twitter .carousel-indicators li.active, .twitter .carousel-indicators li:hover, .top-bar.style-2 {
    background-color: #0062c6;
}
.site-header a:hover, .icon a:hover h2, .icon.style-2 .fa, .nav-tabs > li > a:hover, .btn.style-3, .error-404 h2, .page-heading, .page-heading a:hover, .menu a:hover, .statement .style-3, .table tbody tr:hover td, .dropcaps.style-2:first-letter, .list li:before, ol.list, .post.style-2 header > span, .post.style-2 header .fa, .page-numbers a:hover, .page-numbers span, .widget-categories a:hover, .socialize a:hover, blockquote.style-2:before, .panel-group.style-2 .panel-title a:before, .contact-info .fa, blockquote.style-1:before, .comment-list .comment header h1, .faq .panel-title a.collapsed:before, .faq .panel-title a:after, .faq .panel-title a, .faq .panel-title a.collapsed:hover, .filter button.selected, .filter:before, .carousel .carousel-control:hover, .site-navigation > ul > li.current_page_item > a, a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, .primary, .site-footer a:hover, .ls-altus .ls-nav-next:hover, .ls-altus .ls-nav-prev:hover, .blog-masonry.isotope article header, .recent-posts .post header, .counter .counter-number, .site-navigation > ul > li.megamenu .sub-menu .container > li a:hover {
    color: #3282f8;
    font-size:1.1em;
}
.btn-link:hover, .btn-link:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #007AF7;
    border-color: #007AF7;
    font-weight: bold;
    font-size: 15px;
}
.site-navigation li .menu-item-has-children .current_page_item a {
    color:#000 !important;
}

.retina {
    width:30%;
}

.dark-table .table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    margin-top:10px;
    height:20px;
    background-color: #313131;
}

.well {
    margin-top: 5px;
}

h1, h2, h3, h4, h5, h6, .btn, .nav-tabs > li > a, .page-heading, .team em, .post header, blockquote.style-1, .filter button.selected, .countdown {
    font-family: 'Titillium Web' ,sans-serif;
}

.table .table-striped {
    background-color: #e2e2e2 !important;
    border: 1px solid #e2e2e2 !important;
}

p {
    font-size: 1.2em;
    line-height: 1.3em;
}

a {
 color:#007AF7;
}

.form-horizontal .control-label {
    text-align: left;
}

.top-bar-edit {
    margin-bottom: 2px;
    border-radius: 1px;
    width:100%;
    color:#000 !important;
    padding: 2px 2px 2px 6px;
    font-size:18px;
    font-weight: bold;
    background: #fff;
}

.top-bar-edit a {
    color:#000;
}

.card-clan-name {
    color:#fff;
    font-size:13px;
    font-weight:bold;
}

.welcome {
    background: #fff;
    border-radius: 3px;
    padding: 37px;
}

.background-welcome {
    background-image: url("/images/esportsresize-blue.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #636b6f;
    font-family: 'Titillium Web' ,sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.background-welcome-no-text {
    background-image: url("/images/esportsresize-blue-no-text.jpg");
    color: #636b6f;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Titillium Web' ,sans-serif;
    height: 100vh;
    margin: 0;
    font-weight: 100;
}

.hide-siege-data {
    display:none;
}

.scrollable-table {
    overflow-x: auto;
    white-space: normal;
}

.scrollable-table-fix {
    overflow-x: scroll;
    table-layout: fixed;
    white-space: normal;
}

.center-block {
    width: 150px !important;
}


.bust {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    margin-bottom: 0;
}

.btn-siege-show-hide-ops {
    height: 37px !important;
    margin-bottom:10px !important;
}

.header-news {
    height: 28px;
    font-size: 18px;
    padding-left: 5px;
    color: #fff;
    padding-top: 1px;
    border-radius: 4px;
    background-color: #525252;
}


.header-news-system {
    font-size: 22px;
    font-weight: bold;
    padding-left: 5px;
    color: #313131;
    padding-top: 1px;
    border-radius: 4px;
}

.news-content {
    font-size:15px;
    margin-left:8px;
}

body {
    background: #fff;
}

#navbar {
    text-align: center;
    background-color: rgb(5, 49, 114);
    list-style-type: none;
    padding-bottom: 15px;
    position: relative;
    z-index: 99;
}

.card {
    margin-top: 0px;
    padding: 30px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 495px;
}
.mobile-profile {
    display:none;
}

.main-profile {
    display:block;
}

.mobile-score {
    display:none;
}

.main-xbox-data {
    display:block;
}

.achievements-block {
    background-color: #636468;
    height: 100px;
    padding: 1px 8px 8px 11px;
    color: #fff;
}

.button-user {
    border: 3px solid transparent;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: 0.2s background-color, 0.2s border;
    transition: 0.2s background-color, 0.2s border;
    background-color: #0062c6;
    width: 100%;
    height: 45px;
}

.tab-pane {
    background: #fff;
}
.tab-content {
    background: #fff;
}
.tab-pane .active {
    background: #fff;
}
.help-block {
    color:red !important;
    font-weight: bold;
}

.clans img {
    height: 275px;
    margin: 0 auto;
    display: block;
}

.clan-name {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    background: #2C2C2C;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0 0 3px 3px;
    width: 100%;
    height: 60px;
}

.select-stats button, select {
    height: 40px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    background-color: #313131;
    font-size: 14px;
}

.a, .site-navigation > ul > li.current_page_item > a {
    color: #ffffff;
}
.nav-wrap {
    background-color: #2e2e2e;
    position: relative;
    border-bottom: 2px solid #e2e2e2;
}
.preview-logo {
    width:150px;
    height:auto;
}
.tournament-head {
    font-size:26px;
    height:60px;
    background-color:#007AF7;
    color:#fff;
    padding:10px 10px 10px 10px;
}
.enter-clan {
    height: 38px;
    width: 120px;
}
.card.hovercard .useravatar img {
    width: 360px !important;
    height: auto !important;
}
.enter-clan {
    height: 38px !important;
    width: 120px !important;
}
.tournament-banner {
    width: 100%;
}
.clan-head {
    display:none;
}
.home-page h3 {
    font-size: 32px;
    font-weight: bold;
}
.underlined-h3 {
    border-bottom: 3px solid #2e2e2e;
    font-size: 25px;
    font-weight: bold;
}
.home-page p {
    font-size: 16px;
}
.news-content-home {
    padding-left:0px;
}
.home-page-banner {
    display:none;
}
.home-page-banner-2 {
    display:block;
}
.top-level {
    font-size: 1.2em;
    color:#fff;
    font-weight: bold;
}
.user-profile-head {
    display:block;
    text-align: center;
    font-size: 21px;
    height: 50px;
    background-color: #0e266a;
    color: #fff;
    padding: 10px;
}
.enter-clan-mobile {
    display:none !important;
}
.names {
    height: 300px;
    padding-top: 15px;
    background-color: #eaeaea;
}
.registrations-closed {
    display:block;
}
.registration-closed-mobile {
    display:none;
}
.mobile-time {
    display:none;
}
.pool-heading {
    color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
}
.wrap-fixture-results {
    background-color: #007AF7;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}
.score-winner {
    background-color:#e2e2e2;
    padding-top:18px;
    padding-bottom:20px;
    font-weight: bold;
}
.score-winner p {
    font-size: 19px;
}

.clan-names {
    margin-bottom:20px;
}
.gamer-tag-entered{
    font-weight: bold;
}
.gamer-tag-entered:hover {
    background-color: #007AF7;
    color:#fff;
    font-weight: bold;
}
.footer-text {
    color: #afafaf;
    font-weight: bold;
}
.mobi-menu {
    display:none;
}
.bm-burger-button {
    display:none;
}
@media screen and (max-width: 1305px) {

    .background-welcome-no-text {
        background-image: url("/images/esportsresize-blue-880.jpg");
        background-color:#002760;
        color: #636b6f;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        font-family: 'Titillium Web' ,sans-serif;
        font-weight: 100;
    }
    .background-welcome {
        background-image: url("/images/esportsresize-blue-880.jpg");
        background-color:#002760;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        color: #636b6f;
        font-family: 'Titillium Web' ,sans-serif;
        font-weight: 100;
        height: 100vh;
        margin: 0;
    }
    .selectables {
        padding: 4px 10px !important;
        font-size: 14px !important;
        height: 34px !important;
    }
    .mobile-profile {
        display:block;
    }
    .card.hovercard .useravatar img {
        width: 320px;
        height: auto;
        border-radius: 0;
        -moz-border-radius: 0;
        border: none;
    }
    .scrollable-table {
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media(max-width:1025px){
    .clans img {
        height: auto;
    }
}

@media (max-width: 767px) {
    .bm-burger-button {
        display:block !important;
    }
    .navbar-header {
        margin-bottom: 15px;
    }
    .responsive .site-navigation {
        border: none;
        background-color: transparent;
        display: block;
        margin-right: 30px;
        float: right;
    }
    .site-navigation > ul a {
        color: #ffffff;
        display: block;
        float: right;
        font-family: 'Titillium Web' ,sans-serif;
        font-weight: 700;
        font-size: 14px;
        margin: 3px 0;
        padding: 5px 0;
    }

    .site-navigation, .site-navigation:after, .site-navigation:before {
        background-color: #13131300;
    }

    .card-background img {
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -o-filter: blur(25px);
        -ms-filter: blur(25px);
        filter: blur(25px);
        height: 700px;
        margin-left: -100px;
        margin-top: -200px;
        min-width: 130%;
    }
    .mobile-panel{
        margin-top:120px;
    }
    .add-margin-top {
        margin-top: 105px;
    }
    .card-background img {
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -o-filter: blur(25px);
        -ms-filter: blur(25px);
        filter: blur(25px);
        display: none;
        margin-left: -100px;
        margin-top: -200px;
        min-width: 130%;
    }
    .navbar-collapse {
        max-height: 340px;
        overflow-x: visible;
        padding-left: 0px;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        -webkit-overflow-scrolling: touch;
    }
    .navbar-collapse {
        max-height: 392px !important;
        overflow-x: visible;
        padding-left: 0px;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        -webkit-overflow-scrolling: touch;
    }
    .mobile-score {
        display:block;
    }
    .main-xbox-data {
        display:none;
    }
    .achievements-block {
        background-color: #636468;
        height: 107px;
        padding: 1px 8px 8px 8px;
        color: #fff;
    }
    .button-user {
        border: 3px solid transparent;
        border-radius: 3px;
        color: #fff;
        text-transform: uppercase;
        -webkit-transition: 0.2s background-color, 0.2s border;
        transition: 0.2s background-color, 0.2s border;
        background-color: #0062c6;
        width: 100%;
        height: 45px;
    }
    .site-footer .widget-title {
        font-size: 17px;
        margin-top: 0px;
        margin-bottom: 5px;
        text-transform: uppercase;
        border-bottom: 1px solid #fff;
    }
    .tournament-head {
        font-size: 21px;
        height: 55px !important;
        background-color: #007AF7;
        color: #fff;
        padding: 10px 10px 10px 10px;
    }
    .enter-clan {
        display:none !important;
    }
    .enter-clan-mobile {
        display: block !important;
        padding-left: 9px !important;
        height: 34px !important;
        width: 84px !important;
        margin-top: -5px;
        font-size: 12px !important;
    }
    .mobile-btn-tournament {
        display: inline-block;
        padding: 3px 2px;
        margin-bottom: 0;
        background-color: #2a2a2a;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 0.5px solid #ffffff;
        border-radius: 1px;
        width: 100%;
        height: 40px;
    }
    .site-footer > .container {
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .clan-head {
        display:block;
        font-size: 21px;
        height: 43px;
        background-color: #007AF7;
        color: #fff;
        border: none;
        padding: 8px;
        font-weight: bold;
    }
    .home-page h3 {
        font-size: 17px;
        font-weight: bold;
    }
    .underlined-h3 {
        border-bottom: 3px solid #2e2e2e;
        font-size: 15px;
        font-weight: bold;
    }
    .home-page p {
        font-size: 15px;
    }
    .header-news-system {
        font-size: 15px;
        font-weight: bold;
        padding-left: 5px;
        color: #313131;
        padding-top: 1px;
        border-radius: 4px;
    }
    .news-content-home {
        padding-left:9px;
    }
    .home-page-banner {
        display:block;
        margin-top:5px;
    }
    .home-page-banner-2 {
        display:none;
    }
    .card {
        margin-top: 0px;
        padding: 30px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 288px !important;
        background-color: #2a2a2a !important;
    }
    .card.hovercard {
        position: relative;
        padding-top: 0;
        overflow: hidden;
        border-radius: 0;
        text-align: center;
        background-color: #fff;
        background-color: rgba(255, 255, 255, 1);
    }
    .user-profile-head {
        display:block;
        text-align: center;
        font-size: 21px;
        height: 50px;
        background-color: #0e266a;
        color: #fff;
        padding: 10px;
    }
    .card.hovercard .useravatar {
        position: absolute;
        top: 8px !important;
        left: 0;
        right: 0;
    }
    #posts {
        margin-top: 24px;
        padding-right: 0 !important;
        font-size: 15px;
    }
    .siege-stats {
        margin-top: 0;
    }
    #navbar {
        text-align: center;
        background-color: rgb(5, 49, 114);
        list-style-type: none;
        padding-bottom: 15px;
        margin-right: 0;
        padding-right: 0;
        position: relative;
        z-index: 99;
    }
    .tournament-head {
        font-size: 14px;
        height: 50px;
        background-color: #007AF7;
        color: #fff;
        text-align: left;
        font-weight:bold;
        padding: 11px 10px 10px 10px;
    }
    .tournament-container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .clans img {
        height: auto;
    }
    .hidden-xs {
        display: block !important;
        font-size: 8.6px;
        margin-left: -6px !important;
        padding-left: 0;
        font-weight: bold;
    }
    .wrap-vs-mobile {
        margin-top:0 !important;
        padding-top:0;
    }
    a:active {
        color: #fff;
        background:orange;
    }
    ul li a:active {
        color: #fff !important;
        background:orange !important;
    }
    .padding-b-mobile {
        padding-bottom: 1px;
    }
    .names {
        height: 275px !important;
    }
    .clan-names {
        margin-bottom: 0 !important;
    }
    .search-btn {
        margin-left:15px;
    }
    .card.hovercard .card-info .card-title {
        padding: 10px 17px 10px 17px;
        font-size: 20px !important;
        font-weight: bold;
        line-height: 1;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.55);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .registrations-closed {
        display:none !important;
    }
    .registration-closed-mobile {
        display: block !important;
        font-size: 12px;
        margin-left: 0px;
    }
    .mobile-time {
        display:block;
    }
    .date-time-fixture {
        padding-left: 0;
        float: left;
        margin-left: 50px;
    }
    .date-time-bar {
        display:none !important;
    }
    .date-time-bar-mobile {
        display:block !important;
        background-color: #000;
        height: 30px;
        padding-top: 6px;
        font-weight: bold;
        color: #fff;
    }
    .fixture-num {
        margin-bottom: 0 !important;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .pool-heading {
        color: #fff;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .tournament-title {
        margin-top:5px;
    }
    .divider-fixture-result {
        display:none;
    }
    .wrap-fixture-results {
        background-color: #007AF7;
        color: #fff;
        font-weight: bold;
        font-size: 13px;
        padding: 5px;
        height:23px;
    }
    .score-winner {
        background-color: #e2e2e2;
        font-size: 13px !important;
        padding-top: 10px !important;
        padding-right: 3px;
        padding-left: 3px;
        padding-bottom: 10px !important;
        font-weight: bold;
    }
    .score-winner p {
        font-size: 12px !important;
    }
    #vertical-ticker {
        height: 135px !important;
    }
    .clan-logo-resize {
        height:auto !important;
    }
    .clan-registered-logo {
        height:50px !important;
    }
    .card-wrap-dash {
        height:150px !important;
    }
    .card-height {
        height:120px !important;
    }
    .clan-name-user-dash {
        font-size:14px !important;
    }
    .right-centre-user-dash {
        text-align:center !important;
        float:none !important;
    }
    .user-logo-single {
        height: 290px !important;
    }
    .mobi-block-center-text {
        text-align: center !important;
    }
    .margin-t-0-mobi {
        margin-top:0 !important;
    }
    .margin-t-5-mobi {
        margin-top:5px !important;
    }
    .pull-right-mobi {
        float:none !important;
    }
    .margin-b-15-mobi {
        margin-bottom: 15px !important;
    }
    .dash-icons {
        display:none !important;
    }
    #countdown {
        font-size: 18px !important;
    }
    .platform-bar {
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        height: 40px !important;
        padding-top: 2px !important;
        background-color: limegreen;
        text-align: center;
    }
    .platform-bar p {
        font-size: 1.0em !important;
    }
    .logo-xbox {
        width: 22px !important;
    }
    .logo-ps {
        width: 34px !important;
    }
    .logo-pc {
        width: 36px !important;
        padding-top: 2px !important;
    }
    .logoSize {
        width: 100% !important;
        margin-left: 3px !important;
        margin-right: 0 !important;
    }
    .names {
        height: auto !important;
    }
    .navbar-brand {
        float: left;
        padding: 20.5px 15px;
        font-size: 15px;
        line-height: 17px;
        height: 50px;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        background-color: #262626;
        width: 250px;
        height: 100%;
        transition: .3s;
    }

    ul {
        margin: 0;
        padding: 20px 0;
    }

    ul li {
        list-style: none;
    }

    ul li a {
        padding: 10px 20px;
        color: #fff;
        display: block;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    ul li a:hover {
        background-color: grey;
    }

    .sidebarBtn {
        position: absolute;
        top: 6px;
        right: -33px;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: #1f1f1f;
        border: none;
        outline: none;
    }

    .toggle {
        right: -30px;
    }

    .sidebarBtn span {
        display: block;
        width: 16px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        top: 14px;
        transition: .3s;
    }

    .sidebarBtn span:before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        top: -6px;
        left: 0;
        transition: .3s;
    }

    .sidebarBtn span:after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        top: 6px;
        left: 0;
        transition: .3s;
    }

    .active {
        left: 0;
    }

    .sidebarBtn.toggle span {
        background-color: transparent;
    }

    .sidebarBtn.toggle span:before {
        top: 0;
        transform: rotate(-45deg);
    }

    .sidebarBtn.toggle span:after {
        top: 0;
        transform: rotate(45deg);
    }

    .responsive .sidebar {
        z-index: 1000;
        margin-top: 0;
    }

    /* Style the sidenav links and the dropdown button */
    .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

    /* On mouse-over */
    .sidenav a:hover, .dropdown-btn:hover {
        color: #f1f1f1;
    }

    /* Main content */
    .main {
        margin-left: 200px; /* Same as the width of the sidenav */
        font-size: 20px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    /* Add an active class to the active dropdown button */
    .active {
        color: white;
    }

    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
        display: none;
        background-color: #262626;
        padding-left: 8px;
    }
    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }
    .sidebar a {
        font-size: 15px;
    }
    .sidebar a:hover {
        background-color:#4550FC;
    }
    .dropdown-btn {
        font-size: 14px;
    }
    .site-logo {
        width: 100%;
        background-color: #1f1f1f;
        margin: 0 auto;
        height: 50px;
    }
    .site-logo.retina img {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 55px;
        padding-right: 55px;
        margin: 0 auto !important;
    }
    .sidenav {
        margin-top: 10px;
        font-size: 1.2em;
        color:#fff;
        font-weight: bold;
    }
    .container {
        margin-top: 35px !important;
    }
    .mobi-menu {
        display:block !important;
        margin-bottom: 45px;
    }
    .gamer_pic_nav {
        margin-top: 0 !important;
        width: 90px !important;
        border-radius: 0 !important;
    }
    .alert.alert-success {
        background-color: #c1faa9;
        margin-top: 20px;
    }
    .margin-t-25-mobi {
        margin-top:25px !important;
    }
    .margin-t-50-mobi {
        margin-top:50px !important;
    }
    .margin-t-60-mobi {
        margin-top: 60px !important;
    }
    .wrap-mobi-links {
        overflow-y: scroll !important;
    }
    .sidenav-scrollable {
        overflow-y: scroll;
        height:700px;
    }
    .table tbody tr td {
        color: #000;
    }
    .user-1-fixture{
        display:none !important;
    }
    .user-2-fixture{
        display:none !important;
    }
    .clan-image {
        display: none;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
    }
    .footer-container {
        padding-left:8px !important;
        padding-right: 8px !important;
    }
    .vs-fixture {
        display:none !important;
    }
    .gamer-stats-wrap {
        text-align: center !important;
    }
    .gamer-pic {
        width:200px !important;
    }
    .well {
        margin-right:0 !important;
        margin-left:0 !important;
    }
    .mobile-date-time-fixtures {
        display:block !important;
    }
    .dt-date-time-fixtures {
        display:none !important;
    }
}

@media (max-width:990px) and (min-width:769px) {
    .site-logo {
       width:105px !important;
    }
}​

@media (min-width: 768px) {
    .site-navigation .sub-menu li, .site-navigation > ul > li > a, .site-navigation > ul a {
        color: #ffffff;
    }
    .news-content-home {
        padding-left:9px;
    }
    .vs-mobile {
        display:none;
    }
}

@media (max-width: 768px) {
    .center-mobile-text{
        text-align: center !important;
    }
    .fixture .card {
        background-color:#f5f5f5 !important;
        padding:5px;
        height:auto !important;
    }
    .fixture .card {
        padding:10px !important;
    }
    .vs-fixture {
        display:none;
    }
    .vs-mobile {
        color: #000 !important;
        font-size: 18.5px;
        margin-top: 0 !important;
        padding: 0 !important;
        text-align: center;
    }
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination li .active {
    background:lightgrey;
}

.card.hovercard .card-info .card-title {
    padding: 10px 17px 1px 17px !important;
    font-size: 38px;
    font-weight: bold;
    line-height: 1;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.55);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.more p {
    font-size: 16px;
}

.morecontent {
    display: none;
}
.more {
    font-size: 15px;
    padding-left: 5px;
    line-height: 1.1;
}
.published-date {
    margin-left:5px;
}
.site-footer {
    background-color: #313131;
    color: white;
    font-size: 14px;
    line-height: 1.7em;
    margin-top: 70px;
}
.recent-posts {
    font-size: 12px;
}
site-footer a:hover {
    color: #3282f8;
    font-size:16px !important;
}
.top-level {
    cursor: default;
}
.eax-post-link:hover {
    text-decoration: none;
    font-size: 21px;
}
.post-title {
    font-size:22px;
}
.postTitle {
    font-size:22px;
}
#posts {
    margin-top: 24px;
    padding-right: 50px;
    font-size: 15px;
}
.articles-twitter {
    padding-left: 0;
    padding-right: 0;
}
.glyphicon{
    min-width: 15px;
}
.bootstrap-timepicker-widget {
    background-color: #d6d6d6 !important;
}

.bootstrap-timepicker-widget {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.bootstrap-timepicker-widget table td a {
    border: 1px transparent solid;
    width: 100%;
    display: inline-block;
    margin: 0;
    border-radius: 17px;
    background: #717171;
    padding: 8px 0;
    outline: 0;
    color: #333;
}
.bold-content {
    font-weight:bold;
}
.normal-header-link {
    font-family: 'Titillium Web' ,sans-serif;
    color: #292929;
    font-weight: bold;
    font-size:19px;
    line-height: 1.35em;
    text-transform: uppercase;
    text-decoration: none;
    margin-top:5px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.date-time {
    float: left;
    font-weight: bold;
    width:20%;
}
.edit-link {
    font-size:13px;
    font-weight:bold;
    float:right;
    margin-left:10px;
    margin-bottom: 5px;
}

.remove-padding-col-md-3 {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 5px;
}
.parent-link {
    font-size:16px !important;
}
.table tbody tr:hover td {
    font-size: 1.1em;
    color: #3282f8;
}
a, .btn-link {
    color:#fff;
    font-size:1.1em;
}

td a {
    color: #080808;
    font-size:1.1em;
}

.names a {
    color: #131313;
    font-size:1.1em;
    text-align: center;
}
.siege-stats {
    display:none;
}
.rocket-league {
    display:none;
}
.rocket-league-2 {
    display:none;
}
.blue-text {
    color: #007AF7;
}
.white-text {
    color: #ffffff;
}
.bg-blue-eax {
    background:#007AF7;
}
.font-size-10{
    font-size:10px;
}
.font-size-15 {
    font-size:15px;
}
.font-size-20 {
    font-size:20px;
}
.font-size-25 {
    font-size:25px;
}
.font-size-30 {
    font-size:30px;
}
.padding-l-r-31 {
    padding-left:30px;
    padding-right:31px;
}
.padding-l-r-0 {
    padding-left:0;
    padding-right:0;
}
.padding-t-5 {
    padding-top:5px;
}
.padding-t-10 {
    padding-top:10px;
}
.padding-b-10 {
    padding-bottom:10px;
}
.padding-l-10 {
    padding-left:10px;
}
.padding-r-10 {
    padding-right:10px;
}
.padding-t-15 {
    padding-top:15px;
}
.padding-b-15 {
    padding-bottom:15px;
}
.padding-l-15 {
    padding-left:15px;
}
.padding-r-15 {
    padding-right:15px;
}
.padding-t-10 {
    padding-top:10px;
}
.padding-t-15 {
    padding-top:15px;
}
.padding-l-25 {
    padding-left:25px !important;
}
.padding-r-25 {
    padding-right:25px !important;
}
.height-400{
    height: 400px !important;
}
.height-345{
    height: 345px !important;
}
.height-370{
    height: 370px !important;
}
.margin-t-25 {
    margin-top: 25px;
}
.padding-t-20 {
    padding-top: 20px;
}
.padding-b-15 {
    padding-bottom:15px;
}
.padding-b-20 {
    padding-bottom:20px;
}
.date-time-fixture {;
    font-weight: bold;
    font-size:11px;
    color:#fff;
}
.home-page a {
    color:#000;
    font-size: 1em;
}
.tournament-wrapper {
    margin-bottom: 5px;
}
.tournament-wrapper a {
    color:#000;
    font-size: 1em;
}
.caret {
    box-shadow: 0 0 20px #333;
}
.tournament-banner-list {
    padding:10px;
}
.tournament-content-list {
    padding:0 15px 15px 15px;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.margin-b-30 {
    margin-bottom: 30px;
}
.event-wrap {
    padding: 15px;
    box-shadow: 0 0 12px #333;
    margin-bottom: 20px;
}
.edit-link a {
    color:#000;
}
.loading {
    display:none;
}
.loading-rb6 {
    display:none;
}
.loading-rl {
    display:none;
}
.response-message {
    display:none;
}
.date-time-bar {
    background-color: #2a2a2a;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 0;
    padding-top: 7px;
    margin-left: 0px;
    display:block;
}
.date-time-bar-mobile {
    display:none;
}
.fixture {
    background-color: #f7f7f7;
    margin-bottom: 35px;
}
.fixture-num {
    color: #fff;
    margin-bottom: 5px;
    margin-left: 0;
    text-align: center;
    margin-right: 0px;
    font-weight: bold;
    background-color: #3282f8;
    font-size: 20px;
}
.vs-fixture {
    margin-top: 85px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display:block;
}
.remove_field {
    color:dodgerblue;
}
.submit-result {
    color:#3282f8;
    font-weight: bold;
}
.upload-image {
    margin-bottom: 5px;
}
.card.hovercard .card-info .card-title {
    padding: 10px 17px 10px 17px;
    font-size: 38px;
    font-weight: bold;
    line-height: 1;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.55);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.tournament-footer-title {
    font-size: 16px;
}
.site-footer a:hover {
    color: #3282f8;
    font-size:16px !important;
}
#vertical-ticker {
    height: 175px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#vertical-ticker li{
    display:block;
}
.clan-name-profile {
    height: 55px !important;
    background-color: #007af7 !important;
    padding-top: 12px !important;
    color:#fff !important;
}
.no-padding {
    padding:0 !important;
}
.bottom-left {
    position: absolute;
    bottom: 0px;
    text-align: center;
    height: 40px;
    padding-top: 8px;
    font-size: 14px;
    color: #fff !important;
    background-color: #0261c699;
    width: 100%;
    vertical-align: middle;
}
.player-container {
    position: relative;
    text-align: center;
    color: #000;
}
.clan-logo-resize {
    height: 270px;
}
.user-logo-single {
    height: 255px;
}
.clan-registered-logo {
    height:300px;
}
.header-user-dash {
    font-size:17px;
    font-weight: bold;
}
.welcome-mvp {
    font-size:25px;
    color:#000;
}
.caret-boxes-spacing {
    max-width: 370px;
    margin-right: 15px;
}
.caret-boxes-spacing-6 {
    max-width: 500px;
    margin-right: 15px;
}
.bg-black {
    background-color: #2f2f2f;
}
.card-wrap-dash {
    height:115px;
}
.card-height {
    height:103px;
}
.clan-name-user-dash {
    font-size:15.5px;
}
.right-centre-user-dash {
    float:right;
}
.mobi-block-center-text {
    text-align: left;
}
.margin-t-0-mobi {
    margin-top:0;
}
.pull-right-mobi {
    float:right;
}
.margin-t-5-mobi {
    margin-top:0;
}
.margin-b-15-mobi {
    margin-bottom: 0;
}
.event-wrap-dash {
    padding: 4px 2px 4px 8px;
    box-shadow: 0 0 12px #333;
    margin-bottom: 20px;
}
.dash-icons {
    display:block;
}
.xp-header {
    font-weight:bold;
    font-size:16px;
}
#countdown {
    text-align: center;
    background-color: black;
    color: #fff;
    padding-top: 10px;
    font-size: 26px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight:bold;
}
.platform-bar {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    height: 55px;
    padding-top: 5px;
    background-color: limegreen;
    text-align: center;
}
.xbox-bar {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    height: 55px;
    padding-top: 5px;
    background-color: limegreen;
    text-align: center;
}
.ps-bar {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    height: 55px;
    padding-top: 5px;
    background-color: limegreen;
    text-align: center;
}
.logo-xbox {
    width:30px;
}
.logo-ps {
    width:40px;
}
.logo-pc {
    width:42px;
    padding-top: 5px;
}
.xbox-bg-green {
    background-color: #127c10;
}
.ps-bg-blue {
    background-color: #0560a7;
}
.ps-bg-black {
    background-color: #000;
}
.pc-bg-red {
    background-color: #eb0101;
}
.registered-clans-count {
    background-color: #000;
    color:#fff;
    font-size: 15px;
}
.registered-clans-count p {
    padding-top:3px;
}
.yodaGif {
    opacity: 0.7;
}
.logoSize {
    width: 129px;
    margin-right: 5px;
}
.clan-logo {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle-forfeit {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width:100%;
}
.clan-logo {
    opacity: 0.3;
}

.middle-forfeit {
    opacity: 1;
}
.text-forfeit {
    background-color: #0061cd;
    color: white;
    font-size: 15px;
    padding: 4px 113px;
}
.tournament-rules {
    margin-top:10px;
    color:#000;
}
.info {
    color:#000;
    margin-top:10px;
}
.dashboard-pad {
    padding: 20px 10px 15px 20px;
}
.dashboard-pad p {
    font-size: 18px;
}
.spacing-dash {
    margin-left:10px;
}
.site-navigation .sub-menu li, .site-navigation>ul a, .site-navigation>ul>li>a {
    color: #fff;
}
.vs {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-top: 65px;
    margin-left: 10px;
}
.site-wrapper {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}
.footer-container {
    padding-left:0;
    padding-right:0;
}
.choices {
    height:40px;
}
/*Blogger Profile Styles*/
.full-article-footer {
    border-top: 1px solid #E0DFDB;
}
.article-footer {
    padding: 20px 10px 10px 10px;
    min-height: 115px;
    display:table;
}
.avatar-module {
    display: table-cell;
    vertical-align: middle;
}
.avatar-module img {
    border-radius: 50%!important;
    height: 120px;
    width: 120px;
    float: left;
    margin:0px 20px 0px 20px;
}
.article-footer p {
    line-height:1.5em;
    padding-left:15px;
}
a.author-link {
    font-size:25px;
    line-height:2em;
    color:#617a3a;
    text-decoration:none;
}
a.author-link:hover {
    color:#000000;
    text-decoration:none;
}
@media (max-width:750px) {
    .article-footer {
        display:inherit;
        margin:0px;
    }
    .avatar-module {
        display:inherit;
        vertical-align: none;
    }
    .avatar-module img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
        margin-top: 0px;
    }
    .article-footer p {
        text-align:center;
        padding-left:0px;
    }
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .retina {
        width: 12%;
    }
}
.stats-names {
    font-weight: 300;
    line-height: 1em;
    text-transform: uppercase;
    font-size: 15px;
    color:black;
}
.bg-eax-blue {
    background-color: #007af7;
}
.bg-eax-dark-black {
    background-color: #2c2c2c;
}
.stats-header {
    font-size: 18px;
    height: 40px;
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding: 8px 5px 5px 5px;
}
li:hover a {
    cursor: pointer;
}
html, body { overflow-x: hidden !important; }
.black-text {
    color:#000;
}
.carousel .carousel-control.left, .carousel .carousel-control.right {
    opacity: 0;
    background: 0 0;
    font-size: 50px;
    text-shadow: none;
    position: absolute;
}
.zoom-img {
    transition: transform .2s; /* Animation */
}
.zoom-img:hover {
    transform: scale(5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.mobile-date-time-fixtures {
    display:none;
}
.dt-date-time-fixtures {
    display:block;
}
.tournament-rules ul {
    padding-left:20px;
}

/*Flat buttons*/
.flat-butt {
    display: inline-block;
    margin: 0 5px;
    border-radius: 6px;
    font-size: 16.5px;
    padding: 12px 20px;
    border: 0;
    background: #34495E;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}
.flat-butt-sm {
    display: inline-block;
    margin: 0 5px;
    border-radius: 6px;
    font-size: 12px;
    padding: 8px 14px;
    border: 0;
    background: #34495E;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}
.flat-butt:hover {
    background: #005580;
}
.flat-primary-butt {
    background: #1abc9c;
}
.flat-primary-butt:hover {
    background: #2fe2bf;
}
.flat-info-butt {
    background: #3498db;
}
.flat-info-butt:hover {
    background: #5dade2;
}
.flat-danger-butt {
    background: #e74c3c;
}
.flat-danger-butt:hover {
    background: #ec7063;
}
.flat-border-butt {
    padding: 8px 20px;
    border: 4px solid #2C3E50;
}
.flat-border-butt:hover {
    border: 4px solid #2C3E50;
}
.flat-primary-border-butt {
    border-color: #16A085;
}
.flat-primary-border-butt:hover {
    border-color: #27AE60;
}
.flat-info-border-butt {
    border-color: #2980B9;
}
.flat-info-border-butt:hover {
    border-color: #2980B9;
}
.flat-danger-border-butt {
    border-color: #C0392B;
}
.flat-danger-border-butt:hover {
    border-color: #C0392B;
}
.flat-double-butt {
    padding: 8px 20px;
    border: 3px solid #FFF;
    box-shadow: #34495E 0px 0px 0px 3px;
}
.flat-double-butt:hover {
    box-shadow: #005580 0px 0px 0px 3px;
}
.flat-primary-double-butt {
    box-shadow: #1abc9c 0px 0px 0px 3px;
}
.flat-primary-double-butt:hover {
    box-shadow: #2fe2bf 0px 0px 0px 3px;
}
.flat-info-double-butt {
    box-shadow: #3498db 0px 0px 0px 3px;
}
.flat-info-double-butt:hover {
    box-shadow: #5dade2 0px 0px 0px 3px;
}
.flat-danger-double-butt {
    box-shadow: #e74c3c 0px 0px 0px 3px;
}
.flat-danger-double-butt:hover {
    box-shadow: #ec7063 0px 0px 0px 3px;
}
.flat-underline-butt {
    text-decoration: underline;
}
.flat-grad-butt {
    background-image: linear-gradient(#34495E 50%, #2C3E50 50%);
}
.flat-primary-grad-butt {
    background-image: linear-gradient(#1ABC9C 50%, #16A085 50%);
}
.flat-info-grad-butt {
    background-image: linear-gradient(#3498DB 50%, #2980B9 50%);
}
.flat-danger-grad-butt {
    background-image: linear-gradient(#E74C3C 50%, #C0392B 50%);
}
.flat-inner-butt {
    padding: 11px 0px;
    box-shadow: inset #2C3E50 -3px -3px 0px;
}
.flat-primary-inner-butt {
    background: #1ABC9C;
    box-shadow: inset #16A085 -3px -3px 0px;
}
.flat-info-inner-butt {
    box-shadow: inset #2980B9 -3px -3px 0px;
}
.flat-danger-inner-butt {
    box-shadow: inset #C0392B -3px -3px 0px;
}
.flat-outer-butt {
    padding: 11px 0px;
    box-shadow: #BDC3C7 2px 2px 0px;
}

/*Transitions*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.slide-fade-enter-active {
    transition: all 3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
.bm-burger-button {
    z-index : 1000;
    background-color: #fff !important;
}
.bm-burger-bars {
 background-color: #000000 !important;
}
.bm-item-list {
    color: #b8b7ad;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 0;
}
.bm-item-list>* {
    padding: 0.7em 0.7em 0.7em 0.2em !important;
}
.gamer_pic_nav {
    width:40px;
    margin-top: -10px;
    border-radius:30px;
}
.btn.btn-primary {
    color: #fff;
    background-color: #007AF7;
    border-color: #007AF7;
    box-shadow: 0 2px 2px 0 rgba(0, 122, 247, 0.14), 0 3px 1px -2px rgba(0, 122, 247, 0.2), 0 1px 5px 0 rgba(0, 122, 247, 0.12);
}
.btn.btn-link {
    color: #fff;
    background-color: #007AF7;
    border-color: #007AF7;
    box-shadow: 0 2px 2px 0 rgba(0, 122, 247, 0.14), 0 3px 1px -2px rgba(0, 122, 247, 0.2), 0 1px 5px 0 rgba(0, 122, 247, 0.12);
}
.btn:hover {
    background-color: #292929 !important;
    border-color: #292929 !important;
}
.btn {
    border-radius: 1px;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Forms*/
.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}
.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.eax-landscape {
    height:30px;
}
.eax-portait {
    width:110px;
}
.form-control {
    border-radius: 1px;
}
.gt-approval {
    padding:2px 0 2px 0;
    background-color: #007af7 !important;
    color:#fff;
    font-weight: bold;
}