<template>
    <div>
        <datetime
                :name="dt_name"
                type="datetime"
                v-model="date"
                input-class="my-class"
                zone="Africa/Johannesburg"
                :format="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }"
                :phrases="{ok: 'Continue', cancel: 'Exit'}"
                :hour-step="2"
                :minute-step="15"
                :week-start="7"
                use12-hour
                auto
        ></datetime>
    </div>
</template>

<script>
    export default {
        props : ['dt_name'],
        data: function() {
            return {
                date: this.dateTimeString()
            }
        },
        methods :{
            dateTimeString(){
                let now = new Date();
                [[this.AddZero(now.getDate()),
                    this.AddZero(now.getMonth() + 1),
                    now.getFullYear()].join("/"),
                    [this.AddZero(now.getHours()),
                        this.AddZero(now.getMinutes())].join(":"),
                    now.getHours() >= 12 ? "PM" : "AM"].join(" ");
            },
            /**
             * @return {string}
             */
            AddZero(num) {
                return (num >= 0 && num < 10) ? "0" + num : num + "";
            }
        }
    }
</script>
