<template>
    <div>
    <div class="col-md-6">
        <select class="fixturesSelect" name="clansSelected[]">
            <option value="">Select</option>
            <option  v-for="clan in clans" :value="clan.id">{{ clan.name }}</option>
        </select>
    </div>
    <div class="col-md-1">
        VS
    </div>
    <div class="col-md-5">
        <select class="fixturesSelect2" name="clansSelected[]">
            <option value="">Select</option>
            <option  v-for="clan in clans" :value="clan.id">{{ clan.name }}</option>
        </select>
    </div>
    </div>
</template>

<script>
    export default {
        name: "DoubleSelect",
        props: ['clans'],
        data: function () {
            console.log(this.clans);
            return {
                clan:null,
                gamesList: this.games
            }
        },
    }
</script>

