<template>
    <div>
        <p><button class="btn flat-butt-sm btn-primary col-md-12" v-on:click="seen = !seen">VIEW/CLOSE Fixtures</button></p>
        <transition name="fade">
        <div class="col-md-12" v-if="seen">
            <table class="table table-bordered dark-table scrollable-table">
                <thead>
                <tr>
                    <th>Tournament</th>
                    <th>Clan 1</th>
                    <th>Clan 2</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Fixture Result</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(fixture, key) in fixtures">
                    <td>{{ fixture.tournament_title }}</td>
                    <td>{{ fixture.clan_1 }}</td>
                    <td>{{ fixture.clan_2 }}</td>
                    <td>{{ fixture.date }}</td>
                    <td>{{ fixture.time }}</td>
                    <td>
                        <div v-if="fixture.result !== '1'" :id="'resultSubmit_' + key" :data-fixtureId="fixture.id" :data-clan1id="fixture.clan_1_id" :data-clan2id="fixture.clan_2_id" @click="openModal(key)" class="flat-butt-sm submitClan btn btn-primary btn-small">
                            Submit Result
                        </div>
                        <div v-else="">Submitted</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </transition>
        <sweet-modal ref="modal">
            <form class="form-horizontal form-modal" method="POST" enctype="multipart/form-data"  :action="'/' + fixture_id + '/' + clan_1_id + '/submit-fixture-result'">
                {{ csrf_field() }}
                <div class="row">
                    <div class="col-md-12"><h3>Submit Fixture Result</h3></div>
                    <div class="col-md-12">Please enter the amount of wins for each clan below.</div>
                    <input type="hidden" :value="fixture_id" name="clan_1_id" class="form-control input-small">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="clan_1_score" class="col-md-12 control-label clan_1_label"></label>
                            <div class="col-md-12">
                                <input id="clan_1_score" v-model="clan_1_score" value="" name="clan_1_score" type="text" class="form-control input-small" required="">
                                <input type="hidden" :value="clan_1_id" name="clan_1_id" class="form-control input-small">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="clan_2_score" class="col-md-12 control-label clan_2_label"></label>
                            <div class="col-md-12">
                                <input id="clan_2_score" v-model="clan_2_score" value="" name="clan_2_score" type="text" class="form-control input-small" required="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input_fields_wrap">
                                    <div class="form-group">
                                        <label class="col-md-12 control-label">Rounds</label>
                                        <div class="example-simple">
                                            <h1 id="example-title" class="example-title">Simple Example</h1>
                                            <div class="upload">
                                                <ul>
                                                    <li v-for="(file, index) in files" :key="file.id">
                                                        <span>{{file.name}}</span> -
                                                        <span v-if="file.error">{{file.error}}</span>
                                                        <span v-else-if="file.success">success</span>
                                                        <span v-else-if="file.active">active</span>
                                                        <span v-else-if="file.active">active</span>
                                                        <span v-else></span>
                                                    </li>
                                                </ul>
                                                <div class="example-btn">
                                                    <file-upload
                                                            class="btn btn-primary"
                                                            post-action="/upload/post"
                                                            extensions="gif,jpg,jpeg,png,webp"
                                                            accept="image/png,image/gif,image/jpeg,image/webp"
                                                            :multiple="true"
                                                            :size="1024 * 1024 * 10"
                                                            v-model="files"
                                                            @input-filter="inputFilter"
                                                            ref="upload">
                                                        <i class="fa fa-plus"></i>
                                                        Select files
                                                    </file-upload>
                                                    <button type="button" class="btn btn-success" v-if="!$refs.upload || !$refs.upload.active" @click.prevent="$refs.upload.active = true">
                                                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                        Start Upload
                                                    </button>
                                                    <button type="button" class="btn btn-danger"  v-else @click.prevent="$refs.upload.active = false">
                                                        <i class="fa fa-stop" aria-hidden="true"></i>
                                                        Stop Upload
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="add_field_button btn btn-xs" id="text" @click="">Add screenshot</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-left">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </sweet-modal>
        <sweet-modal ref="successModal" icon="success">
            Fixture result successfully submitted!
        </sweet-modal>
        <sweet-modal ref="errorModal" icon="error" title="Oh no…">
            An error has occured. Please try submit again or contact an admin. You can contact admins on this page : <a class="blue-text font-size-15" href="http://127.0.0.1:8100/contact">Contact</a>
        </sweet-modal>
    </div>
</template>

<script>

    import { SweetModal, SweetModalTab } from 'sweet-modal-vue';
    import FileUpload from 'vue-upload-component';
    export default {
        name: "Modal",
        props: ['fixtures'],
        components: {
            SweetModal,
            SweetModalTab,
            FileUpload
        },
        methods: {
            openModal(key){
                var el_down = document.getElementById("resultSubmit_" + key);
                this.setNewValue(el_down.getAttribute('data-fixtureId'),el_down.getAttribute('data-clan1Id'),el_down.getAttribute('data-clan2Id'));
                this.$refs.modal.open();
            },
            setNewValue: function (data1,data2,data3) {
                this.fixture_id = data1;
                this.clan_1_id = data2;
                this.clan_2_id = data3;
            },
            getFormValues () {
                let data = {
                    'fixture_id': this.fixture_id,
                    'clan_1_id': this.clan_1_id,
                    'clan_2_id': this.clan_2_id,
                    'clan_1': this.clan_1,
                    'clan_2': this.clan_2,
                    'clan_1_score': this.clan_1_score,
                    'clan_2_score': this.clan_2_score,
                    'files' : this.files
                };
                this.$refs.modal.close();
                this.$refs.successModal.open();
                // location.reload();
                axios.post('/api/submit-clan-fixture-result',data)
                    .then(function (response) {
                        console.log(response);
                        if(response.status === 200){
                            this.$refs.modal.close();
                            this.$refs.successModal.open();
                            location.reload();
                        }
                    })
                    .catch(function (error) {
                        this.$refs.errorModal.open();
                        // location.reload();
                    })
            },
            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
                        return prevent()
                    }
                    if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
                        return prevent()
                    }
                }
            },
        },
        data: function () {
            return {
                clan:null,
                clan_1:null,
                clan_2:null,
                clan_1_id:null,
                clan_2_id:null,
                clan_1_score:null,
                clan_2_score:null,
                fixture_id:null,
                seen: false,
                files: []
            }
        },
    }
</script>

<style>
    .new-rect {
        background: black;
        width: 20%;
        height: 30px;
    }
</style>
