<template>
    <div>
        <Dropdown
                :options="clans"
                v-on:selected="validateSelection"
                v-on:filter="getDropdownValues"
                :disabled="false"
                name="clans"
                :maxItem="10"
                placeholder="Select a clan">
        </Dropdown>
    </div>
</template>

<script>
    import Dropdown from 'vue-simple-search-dropdown';
    export default {
        props:['clans'],
        components : {Dropdown},
        name: "CreateFixtures",
    }
</script>